@media only screen and (min-width: 1024px) {
  .main {
    margin-left: 100px;
    background-color: #f0be73;
    background-image: url(http://www.transparenttextures.com/patterns/argyle.png);

    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 540px;
    width: 765px;

    margin-top: 250px;
  }

  header img {
    display: flex;
    justify-content: flex-start;
  }

  h2 {
    margin-top: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main {
    background-color: #f0be73;
    background-image: url(http://www.transparenttextures.com/patterns/argyle.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 520px;
    width: 100%;
  }

  header img {
    margin-top: 120px;
    justify-content: flex-end;
  }
}
