@media only screen and (min-width: 1024px) {
  section.new-tweet {
    /* margin-top: 300px; */
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    flex-direction: column;
  }
}
form {
  display: flex;
  width: 100%;

  flex-direction: column;
}
button {
  background-color: #4056a1;
  font-family: "Bungee", sans-serif;
  color: white;
}

.redText {
  color: red;
}

label {
  display: flex;
  width: 20%;
}

textarea {
  height: 35px;
  display: flex;
  width: 100%;
  background-color: inherit;
  justify-content: center;
  border: none;
  border-bottom: solid black;
  resize: none;
  overflow: hidden;
}
.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  background-color: #ffe6e6;
  color: #cc0000;
  border: 1px solid #cc0000;
}

div {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  section.new-tweet {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
  }
}
